.login-card {
    width: 450px;
    text-align: center;
}

#submit {
    display: inline-block; text-align: center;margin-top: 0.5%;border-color: #2ca0ff; background-color: #2ca0ff
}

#registratelink{

    display: inline-block;
    margin-top:0.5%;
    border-color: #2ca0ff;
    background-color: #2ca0ff
}
#olvidastelink{
    display: block; margin-top: 0.5%;
}

.well-lg {
    text-align: center;
}